* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body,html{
    height: 100%;
    width: 100%;
}

#header {
    height: 120px;
    
}

#body {
    height: 800px;
    background-color: antiquewhite;
}

#footer {
    height: 100px;
    background-color: aquamarine;
}
.top{
    height: 50%;
    background-color: aliceblue;
}
.bottom{
    height: 50%;
    background-color: brown;
}
.grid1{
    display: grid;
    height: 100%;
    grid-template-columns: .90fr 2fr 1fr 1fr;
}
.logo{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_wrap{
    height: 60%;

}
.logo_con{
    width: 100%;
    height: 100%;
}
@media(max-width: 1440px){
    .logo_wrap{
        height: 80%;
        width: 100%;
    }
    .logo_con{
        width: 45%;
        height: 100%;
    }
}
@media (max-width: 480px){
    #header{
        height: auto;
    }

    .logo_con{
        width: 100%;
        height: 100%;
    }
}